.signInWithGoogleButton {
  background-color: rgb(255, 105, 97);
  color: white;
  width: 80%;
  font-weight: 500;
  height: 36px;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.greyLargeText {
  font-size: 18px;
  font-weight: 550;
  color: #8e8e8e;
  display: inline-block;
  width: 80%;
  padding-bottom: 12px;
}

.greySmallText {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #8e8e8e;
  display: inline-block;
  width: 80%;
  line-height: 1.4;
  padding-bottom: 24px;
}


.authInput {
  width: 73%;
  padding: 12px;
  border: 1px solid #A9A9A9;
  background-color: rgb(250, 250, 250);
  margin: 4px;
  border-radius: 4px;
  font-size: 14px;
  color: black;
}

.authContainer {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  text-align: center;
  flex-direction: column; 
  width: 375px;
  padding-top: 40px;
  margin: 0 auto;
  margin-top: 36px;
}


.authContainer {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  text-align: center;
  flex-direction: column; 
  width: 375px;
  padding-top: 40px;
  margin: 0 auto;
  margin-top: 36px;
}

@media (max-width: 400px) {
  /* hide border on mobile view */
  .authContainer {
    padding-top: 0px;
    border: 0px;
  }
}
.errorText {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: red;
}
