/* .profileContainer {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 36px;
  padding-top: 32px;
}

.logOutSpan {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;

}

.nameInput {
  width: 160px;
  height: 24px;
  margin-left: 32px;
  border: 1px solid #8e8e8e;
  background-color: rgb(250, 250, 250);
  margin: 4px;
  border-radius: 6px;
  font-size: 18px;
  color: black;
}

.profileButton {
  background-color: red;
  color: white;
  width: 144px;
  font-weight: 500;
  height: 36px;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  margin-left: 12px;
}

.inputContainer {
  padding-left: 32px;
}

.title {
  padding-left: 32px;
  font-size: 32px;
} */