.postFactoryContainer {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 360px;
  margin-top: 24px;

}

.postButton {
  margin-right: 4%;
  background-color: red;
  color: white;
  width: 80px;
  font-weight: 500;
  height: 36px;
  border: none;
  float: right;
  border-radius: 6px;
  margin-right: 32px;
  margin-bottom: 12px;
}

.postFactoryText {
  width: 30%;
  padding-left: 24px;
  padding-top: 24px;
}

.postFactoryInput {
  margin-left: 24px;
  width: 80%;
  margin-top: 12px;
  padding-left: 12px;
  border: 1px solid grey;
  height: 32px;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  font-size: 12px;
  color: black;
}

.buttonContainer {
  padding-bottom: 12px;
}

.postFactoryTitle {
  margin-left: 24px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: bold;
}

.fileinput {
  margin-left: 24px;
  width: 276px;
  padding-top: 24px;
  padding-bottom: 12px;
}