/* .navigationBar {
  height: 48px;
  width: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  position: relative;
}

.li {
  display: inline;
}
.icons {
  width: 32px;
  height: 32px;
  padding-left: 8px;
  padding-top: 4px;
}

.contentsLeft {
  padding-left: 16px;
  float: left;
}

.contentsRight {
  padding-right: 16px;
  float: right;
} */