.postContainer {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 360px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.postIcons {
  padding-left: 8px;
  padding-top: 8px;
}

.icon {
  padding-right: 4px;
}

.topInfo {
  padding: 12px;
  padding-bottom: 4px;
}

.deletePostButton {
  float: right;
}

.caption {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 24px;
  font-size: 16px;
}

.creatorName {
  font-weight: 600;
}
.location {
  font-weight: 300;
  font-size: 14px;
  padding-left: 12px;
  padding-bottom: 12px;
}