/* .container {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 36px;
  padding-top: 32px;
}

.postButton {
  margin-right: 4%;
  background-color: red;
  color: white;
  width: 144px;
  font-weight: 500;
  height: 36px;
  border: none;
  border-radius: 6px;
  margin-left: 4px;
  margin-bottom: 12px;
}

.inputText {
  margin-left: 80px;
  width: 400px;
  margin-bottom: 24px;
  padding: 12px;
  border: 1px solid #8e8e8e;
  background-color: rgb(250, 250, 250);
  border-radius: 6px;
  font-size: 12px;
  color: black;
}

.buttonContainer {
  padding-bottom: 12px;
}

.fileinput {
  margin-left: 80px;
  width: 276px;
  padding-top: 4px;
} */