.postContainer {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 360px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.middleInfo {
  padding-left: 16px;
  padding-top: 16px;
}

.icon {
  margin-right: 4px;
}

.numLikes {
  padding-top: 4px;
}

.deletePostButton {
  float: right;
}

.caption {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 12px;
  font-size: 16px;
}

.numLikes {
  font-weight: 300;
  font-size: 16px;
}

.creatorName {
  font-weight: 600;
  display: inline-block;

}

.location {
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  display: inline-block;
}

.topInfoText {
  display: inline-block;
}
.topInfo {
  padding: 12px;
  padding-bottom: 6px;
  /* margin: auto; */
}

.profileImageSmallCropper {
  width: 32px;
  height: 32px;
  /* position: relative; */
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
  float: left;

}

.profilePictureSmall {
  /* display: inline; */
  height: 100%;
  width: auto;
}


.commentInput {
  border:none;
  padding-left: 16px;
}

.commentDiv {
  border-top: 1px solid #E0E0E0;

}
.commentInput:focus {
  outline:none;
}