@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

html * {
  font-family: 'Segoe UI' !important;
  font-size: 18px;
}

body {
  background-color: rgb(250, 250, 250);
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* .container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
} */


