@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

html * {
  font-family: 'Segoe UI' !important;
  font-size: 18px;
}

body {
  background-color: rgb(235, 235, 235);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}